@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">Truy Cập Bị Từ Chối</h1>
    <p class="text-danger">Bạn Không Có Quyền Truy Cập Trang Này.</p>
</header>
