@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>Đặt Lại Mật Khẩu</h1>
<p>
    Bạn vui Lòng Check Email và click vào đường link để đặt lại mật khẩu ?
</p>
