@page
@model Book.Areas.Identity.Pages.Account.otpModel
@{
}
<title>Lựa Chọn Phương Thức Xác Thực</title>
<h2>Lựa Chọn Phương Thức Xác Thực</h2>
<form method="post">
  
  <label for="cars">Phương Thức Xác Thực:</label>
  <select name="cars" id="cars">
    <option value="gmail">Gmail</option>
    <option value="app">Authentication</option>
     <option value="sms">SMS</option>
  </select>
  <br><br>
  <button type="submit" class="btn btn-success">submit</button>

</form>
