@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đổi Mật Khẩu Thành Công";
}

<h1>Đổi Mật Khẩu Thành Công</h1>
<p>
    Mật Khẩu của bạn đã được Đặt Lại. Vui Lòng <a asp-page="./Login">click để đăng nhập</a>.
</p>
